@using WebShopping.Models
@{
    ViewBag.Title = "Detail";

    Layout = "~/Views/Shared/_Layout.cshtml";

    san_pham product = (san_pham)ViewBag.Product;
    if (product == null) { product = new san_pham(); }
    List<anh_san_pham> lsProductImag = (List<anh_san_pham>)ViewBag.ProductImage;
    if (lsProductImag == null) { lsProductImag = new List<anh_san_pham>(); }

}

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" style="background-image: url('/Content/assets/images/banner/bg2.jpg')">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">@product.TenSanPham</h2>
                        <ul>
                            <li>
                                <a href="/home/index">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>@product.TenSanPham</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">

                                @{ foreach (var item in lsProductImag)
                                    {
                                        <div class="swiper-slide">
                                            <a href="@item.TenFileAnh" class="single-img gallery-popup">
                                                <img class="img-full" src="@item.TenFileAnh" alt="Product Image">
                                            </a>
                                        </div>
                                    }
                                }

                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-thumb-with-content row">
                        <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                            <div class="single-product-content">
                                <h2 class="title">@product.TenSanPham</h2>
                                <span class="new-price text-danger">@String.Format("{0:0,0}", product.Gia) VNĐ</span>
                            </div>


                            <ul class="quantity-with-btn pb-7">
                                <li class="quantity">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" type="text" id="quantity-add-to-cart">
                                    </div>
                                </li>
                                <li class="add-to-cart">
                                    <a data-id="@product.SanPhamId" class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" onclick="AddToCart(this);" style="margin-top: 20px;">Thêm vào giỏ</a>
                                </li>
                            </ul>



                        </div>
                    </div>
                    <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
                        <div class="swiper-container single-product-thumbs">
                            <div class="swiper-wrapper">
                                @{
                                    foreach (var item in lsProductImag)
                                    {
                                        <a href="@item.TenFileAnh" class="swiper-slide">
                                            <img class="img-full" src="@item.TenFileAnh" alt="Product Thumnail">
                                        </a>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="product-tab-area section-space-top-100" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active btn btn-custom-size" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Mô tả sản phẩm
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @product.MoTa
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>